{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block banner_slider %}
<div class="container">
    <div id="carouselExampleInterval" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="{% static 'img/ecomrec4.png' %}" class="d-block w-100" alt="..." width="75" height="500">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'img/ecomrec3.jpg' %}" class="d-block w-100" alt="..." width="75" height="500">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static 'img/ecomrec1.avif' %}" class="d-block w-100" alt="..." width="75" height="500">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock banner_slider %}

{% block main-content %}
<div class="m-3">
    <h2>Top Wears</h2>
    <!-- Slider 1 -->
      <div class="owl-carousel" id="slider1">
        {% for t in top_wear %}
            <a href="product-detail/{{ t.id }}" class="btn">
              <div class="item"><img src="{{ t.link }}" alt="" height="200px"><span
                  class="fw-bold">{{ t.productDisplayName }}</span><br><span class="fs-5 m-1">Rs: 100</span>
              </div>
            </a>
        {% endfor %}
      </div>  
</div>
<div class="mx-3">
    <h2>Bottom Wears</h2>
    <!-- Slider 2 -->
    <div class="owl-carousel" id="slider2">
        {% for b in bottom_wear %}
        <a href="product-detail/{{ b.id }}" class="btn">
          <div class="item"><img src="{{ b.link }}" alt="" height="200px"><span
              class="fw-bold">{{ b.productDisplayName }}</span><br><span class="fs-5 m-1">Rs:100</span>
          </div>
        </a>
        {% endfor %}
    </div>
</div>

<div class="mx-3">
    <h2>Summer Wear</h2>
    <!-- Slider 2 -->
    <div class="owl-carousel" id="slider3">
        {% for s in summer_wear %}
        <a href="product-detail/{{ s.id }}" class="btn">
          <div class="item"><img src="{{ s.link }}" alt="" height="200px"><span
              class="fw-bold">{{ s.productDisplayName }}</span><br><span class="fs-5 m-1">Rs:100</span>
          </div>
        </a>
        {% endfor %}
    </div>
</div>

<div class="mx-3">
    <h2>Shoes</h2>
    <!-- Slider 2 -->
    <div class="owl-carousel" id="slider4">
        {% for sh in shoes %}
        <a href="product-detail/{{ sh.id }}" class="btn">
          <div class="item"><img src="{{ sh.link }}" alt="" height="200px"><span
              class="fw-bold">{{ sh.productDisplayName}}</span><br><span class="fs-5 m-1">Rs:100</span>
          </div>
        </a>
        {% endfor %}
    </div>
</div>

{% if in_cart|length > 0 %}
<div class="mx-3">
    <h2>ACCORDING TO YOUR CART OUR RECCOMENDATION</h2>
    <!-- Slider 2 -->
    <div class="owl-carousel" id="slider5">
      {% for creco in in_cart %}
        <a href="http://127.0.0.1:8000/product-detail/{{creco.id}}" class="btn">
          <div class="item"><img src="{{creco.link}}" alt="{{creco.product_image}}" height="200px"><span
              class="fw-bold">{{creco.productDisplayName}}</span><br><span class="fs-5 m-1">Rs:100</span>
          </div>
        </a>
      {% endfor %}
    </div>
</div>
{% endif %}



{% endblock main-content %}

